<footer>
    Copyright &copy; 2020<script>new Date().getFullYear()>2020&&document.write("-"+new Date().getFullYear());</script>, Team Sina.
    <br>
    <a href="{{site.url}}/aboutus">チームについて</a> / <a href="{{ site.url }}/index-en">For English</a> / <a href="{{ site.url }}/site/privacy-policy">プライバシー・ポリシー(サイト)</a><br>
    <a href="{{ site.url }}/bot/privacy-policy">プライバシー・ポリシー(Bot)</a> / <a href="{{ site.url }}/bot/terms-of-service">利用規約(Bot)</a><br>
    <a href="https://help.sina-chan.com/category/%E3%83%97%E3%83%AC%E3%83%9F%E3%82%A2%E3%83%A0%E3%83%97%E3%83%A9%E3%83%B3/%E7%89%B9%E5%AE%9A%E5%95%86%E5%8F%96%E5%BC%95%E6%B3%95%E3%81%AB%E5%9F%BA%E3%81%A5%E3%81%8F%E8%A1%A8%E8%A8%98
">特定商取引法に基づく表記</a>
    Discordの名称、およびロゴマークは、Discord Inc.(Discord社)の登録商標です。<br>
    運営者問い合わせ先:mii-10@tsc.mii-10-star.jp<br>
    Webサイト作成:parfait9 / T-taku / yuki384
    <br><a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&&text=思惟奈のサイトで{{ page.title }}を読む。@mii_10_star&hashtags=思惟奈ちゃん,Discord,Discordbot"><i class="fab fa-twitter-square" style=""></i></a>
    <div style="text-align:right;">
    <a href="https://discord.com"><img src="/img/discord_logo.png"  width=200px height=auto title="Discordへ/Go to Discord."></a></div>
</footer>
