<footer>
    Copyright &copy; 2020<script>new Date().getFullYear()>2020&&document.write("-"+new Date().getFullYear());</script>, Team Sina.
    <br>
    <a href="{{site.url}}/aboutus">チームについて</a> / <a href="{{ site.url }}/index-en">For English</a> / <a href="{{ site.url }}/site/privacy-policy">プライバシー・ポリシー(サイト)</a><br>
    <a href="{{ site.url }}/legal">規約・ポリシー 一覧</a> / <a href="{{ site.url }}/legal/tradelaw">特定商取引法に基づく表記</a><br>
    Discordの名称、およびロゴマークは、Discord Inc.(Discord社)の登録商標です。<br>
    <a href="{{site.url}}/contact">お問い合わせ</a><br>
    Webサイト作成:parfait9 / T-taku / yuki384
    <br><a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&&text=思惟奈のサイトで{{ page.title }}を読む。@mii_10_star&hashtags=思惟奈ちゃん,Discord,Discordapp"><i class="fab fa-twitter-square" style=""></i></a>
    <div style="text-align:right;">
    <a href="https://discord.com"><img src="/img/discord_logo.png"  width=200px height=auto title="Discordへ/Go to Discord."></a><br>
    <span id="csi_siteseal_tag" oncontextmenu="return false;">
        <a id="csi_siteseal_profile_link">
            <img decoding="async" loading="lazy" alt="dark_typeA_115x57.png" id="csi_siteseal_image" width="115" height="57" src="#" style="display: none" />
        </a>
    </span>
    <script>
        window.addEventListener('load', () => {
            let s = document.createElement("script");
            s.src = "https://gmo-cybersecurity.com/siteseal/siteseal.js"
            document.body.appendChild(s);
        });
    </script>
    </div>
</footer>
