<footer>
    Copyright &copy; 2020<script>new Date().getFullYear()>2020&&document.write("-"+new Date().getFullYear());</script>, Team Sina.
    <br>
    <a href="{{site.url}}/aboutus">チームについて</a> / <a href="{{ site.url }}/index-en">For English</a> / <a href="{{ site.url }}/privacy-policy">プライバシー・ポリシー</a><br>
    Discordの名称、およびロゴマークは、Discord Inc(Discord社)の登録商標です。我々は、Discordに感謝します。<br>
    運営者問い合わせ先:mii-10@tsc.mii-10-star.jp<br>
    Webサイト作成:parfait9 / T-taku / yuki384
    <br><a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&&text=思惟奈のサイトで{{ page.title }}を読む。@mii_10_star&hashtags=思惟奈ちゃん,Discord,Discordbot"><i class="fab fa-twitter-square" style=""></i></a>
    <div style="text-align:right;">
    <a href="https://discord.com"><img src="https://discord.com/assets/e7a3b51fdac2aa5ec71975d257d5c405.png"  width=200px height=auto title="Discordへ/Go to Discord."></a></div>
</footer>
