<!--ヘッダー用-->
    <div class="header">
        <div class="container">
            <div class="header-left">
                <a href="top.html" class="header-logo">思惟奈ちゃんBOT公式サイト</a>
            </div>
            <div class="header-right">
                <a href="top.html" id="Top">TOP</a>
                <a href="Command.html" id="Command">Command</a>
                <a href="News.html" id="News">News</a>
                <a href="Contact.html" id="Contact">Contact</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
