<!--ヘッダー用-->
    <div class="header">
        <div class="container">
            <div class="header-left">
                <a href="{{ site.url }}" class="header-logo">思惟奈ちゃんBOT公式サイト</a>
            </div>
            <div class="header-right">
                <a href="{{ site.url }}" id="Top">TOP</a>
                <a href="" id="Command">Command</a>
                <a href="{{ site.url }}/NEWS" id="News">News</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
