<!--ヘッダー用-->
    <div class="header">
        <div class="container">
            <div class="header-left">
                <a href="{{ site.url }}" class="header-logo">
                <img src="{{site.url}}/img/sinalogo.png" alt="思惟奈ちゃんBOT公式サイト" width="130" height="30">
                </a>
            </div>
            <div class="header-navbtn"></div>
            <div class="header-right">
                <a href="{{ site.url }}/news" id="News">News</a>
                <a href="{{ site.url }}/aboutus" id="Aboutus">Aboutus</a>
                <!-- <a href="{{ site.url }}/blog" id="Team">Blog</a> -->
                <a href="{{ site.url }}/contact" id="Contact">Contact</a>
                <a href="https://help.sina-chan.com" id="Help">Help</a>
                <a href="https://support.sina-chan.com" id="Support">Support</a>
                <a href="{{ site.url }}/statuspage" id="Status">Status</a>
                <a href="{{ site.url }}/legal" id="Legal">Legal</a>
                <a href="{{ site.url }}/recruitment" id="Recruitment">Recruitment</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
