---
---
$announce-height  : 40px !default;
/*共通部分*/
    * {
        margin: 0;
        padding: 0;
    }

/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese');*/

/*config*/
body{
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 2em;
    font-weight: 500;
    margin:0; padding:0;
    color: #2C2F33;
    background-color: rgba(255, 255, 255, 0.781);
    position: relative;
    min-height: 100vh;
  }

/*ヘッダー部分*/

    .header-navbtn{
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 30;
      width: 30px;
      height: 30px;
      background-image: url(../../img/menu2.png);
      background-size: 30px 30px;
      margin:16px;
    }
    @media screen and (min-width:1100px){
      .header-navbtn{
        display: block;
        position: absolute;
        top: 30px;
        right: 0;
        z-index: 30;
        width: 30px;
        height: 30px;
        background-image: url(../../img/menu2.png);
        background-size: 30px 30px;
        margin:16px;
      }
      .header-navbtn{
        display: none;
      }
      .header-right {
        float: right;
        display: block !important;
      }
      .header-right a {
        display: inline;
        line-height: 62px;
        color: black;
        margin-left: 7px;
        padding: 16px 5px;
        font-family: 'Quicksand', sans-serif;
      }
      .btn-big {
        font-size:30px;
        padding: 1em 1em;
      }
      .top-image {
        background-image: url("{{site.url}}/img/Sina.png");
        height: 100vh;
        background-position: center center;
      }
      .header-right a:hover {
        border-bottom: 5px solid #25c3d8;
      }
      .thumbnail a{
        top: 70%;
        left: 55%;
      }
      .can{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .can li{
        flex:0 0 30%;
      }
      body{
        padding-bottom: 380px;
      }
      footer{
        font-size:16px;
      }
      .java{
        display: none;
      }
      .header-logo{
        left:-100px;
      }
      .announce {
        font-size: 18px;
        height: $announce-height;
        padding: 0.1em 1em;
      }
      }
      @media screen and (max-width:1100px){
        .header-right {
          width: 220px;
          margin-top:0;
          padding: 0;
          float: right;
          display: none;
          background-color: #ffffff;
          box-shadow: 2px 2px 20px 2px #04919125;
        }
        .header-right a {
          width: 220px;
          line-height: 62px;
          color: black;
          margin-left: 7px;
          padding: 10px 30px;
          font-family: 'Quicksand', sans-serif;
        }
        .btn-big {
          font-size:20px;
          white-space: nowrap;
          padding: 15px 40px;
        }
        .top-image {
          background-image: url("{{site.url}}/img/Sina_Square.png");
          height: 70vh;
          background-position: 20% center;
        }
        .thumbnail a{
          top: 80%;
          left: 50%;
        }
        body{
          padding-bottom: 350px;
        }
        footer{
          font-size:13px;
          line-height: 1.5em;
          font-weight: 400;
        }
        .letter-spacing{
          letter-spacing: -1px;
        }
        .form{
          width:300px;
        }
        .header-logo{
          left:0;
        }
        .announce {
          font-size: 12px;
          height: $announce-height;
          line-height: 13px;
          padding-top: 8px;
        }
      }
    .header-right a:hover {
        background-color: #ccf8ff;
        transition: background-color 0.5s;
      }
    .container {
        max-width: 980px;
        padding: 0 30px;
    }

    .header {
        margin-left: 0;
        height: 62px;
        width: 100%;
        /*box-shadow: 0 0 10px;*/
        background-color: #ffffff;
        position: fixed;
        top: $announce-height;
        z-index: 9999;
        box-shadow: 2px 2px 20px 2px #04919125;
    }

    .header-left {
        height: 56px;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 3px;
        float: left;
    }

    .header-right a{
      font-size:16px;
      font-weight: normal;
    }

    .header-logo {
        padding:0px 0px 0px 5px;
    }

    .clear {
        clear: both;
    }


    .header-right a:hover {
        background-color: #ccf8ff;
        transition: background-color 0.5s;
    }

    a {
        text-decoration: none;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        min-height: 100%;
        height: 100%;

    }
    .btn-blue {
        display: inline-block;
        padding: 1em 2em;
        text-decoration: none;
        color: #67c5ff;
        border: solid 2px #67c5ff;
        border-radius: 3px;
        transition: .4s;
        margin:20px;
      }

      .btn-blue:hover {
        background: #67c5ff;
        color: white;
      }
.top-img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }
.thumbnail {
  position: relative;
}
.thumbnail a{
  position: absolute;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.btn-big {
  display: inline-block;
  text-decoration: none;
  background-color: #005e5e;
  color: #ffffff;
  border: solid 3px #ffffff;
  border-radius: 50px;
  transition: .4s;
  margin:20px;
  box-shadow: 2px 2px 20px 2px #61616150;
}

.btn-big:hover {
  background: #67c5ff;
  color: white;
}
  .main-title{
    border-bottom: solid 3px skyblue;
    position: relative;
    margin-bottom:20px;
  }

  .main-title:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #77e469;
    bottom: -3px;
    width: 50%;
  }

.topBn li{
    display:inline-block;
    margin:5px 2px;
}
.topBn li img {
    border:solid 1px #ccc;
}

.flex{
    display: flex;
    flex-wrap: wrap;
  }

.top-image {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    margin-bottom:10px;
  }

  footer{
    background-color: #1f1f1f;
    padding: 4vw 12vw;
    text-align: center;
    color:#fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    height: auto;
    i{
      font-size:25px;
    }

  }
  footer>a{
    color: #fff !important;
  }

  .top-black {
    position: relative;
    display: inline-block;
    padding: 0 55px;
    margin-top:10px;
    margin-bottom:20px;
  }

  .top-black:before, .top-black:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: black;
  }

  .top-black:before {
    left:0;
  }
  .top-black:after {
    right: 0;
  }
/*yuki384さんのサイトからインスパイアされました!*/
  .post-head{
    padding: 100px 11% 50px;
    background-color: #26c6da;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    h2{
      margin-top: 1em;
    }
  }
  .post-content{
    padding: 30px 11% 50px;
  }


  .a-orange{
    color: #25c3d8
  }

  .a-orange:hover{
    color : #ff7043;
  }

  .team-img{
    width: 80px;
    height: 80px;
  }

  table{
    width: 100%;
    border-collapse: collapse;
  }

  table tr{
    border-bottom: solid 2px white;
  }

  table tr:last-child{
    border-bottom: none;
  }

  table th{
    position: relative;
    text-align: left;
    width: 30%;
    background-color: #2BD1BB;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  table th:after{
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top:calc(50% - 10px);
    right:-10px;
    border-left: 10px solid #2BD1BB;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  table td{
    text-align: left;
    width: 70%;
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
  }

  div.yokonarabi * {
    display: inline-block;
}
.can {

  list-style: none;
  margin: 0;
  padding: 0;
}
.can li{
  margin: 20px 0;
  padding: 20px;
}
/*404*/
.not-found{
  padding-top:200px;
}

ul{
  list-style: disc;
  padding-left: 40px;
}

.content{
  box-sizing: border-box;
  position: relative;
  padding-bottom: 50px;/*これくらい空けとけば、安心。*/
  box-sizing: border-box;
}

.btn-tag {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #8cd460;
  background-color: #fff;
  transition: .4s;
}

.btn-tag:hover {
  background-color: #8cd460;
  color:#fff;
}

.announce {
  margin-left: 0;
  width: 100%;
  background-color: #df4d4d;
  position: fixed;
  top: 0;
  z-index: 9999;
  color: #fff;
  text-align: center;
}

.fff-a{
  color: #fff;
  text-decoration:underline;
}

strong{
  border-bottom: 2px solid #df4d4d;
}
