---
---
/*共通部分*/
    * {
        margin: 0;
        padding: 0;
    }

/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese');*/

/*config*/
body{
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    color: #2C2F33;
    background-color: rgba(255, 255, 255, 0.781);
    position: relative;
    min-height: 100vh;
    padding-bottom: 380px;
  }

/*ヘッダー部分*/


    .container {
        max-width: 980px;
        padding: 0 30px;
    }

    .header {
        margin-left: 0;
        height: 62px;
        width: 100%;
        /*box-shadow: 0 0 10px;*/
        background-color: #0290a3;
        position: fixed;
        top: 0;
        z-index: 9999;
    }

    .header-left {
        height: 56px;
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 3px;
        float: left;
    }

    .header-right {
        float: right;
    }

    .header-logo {
        color: white;
    }

    .clear {
        clear: both;
    }

    .header-right a {
        line-height: 62px;
        color: snow;
        margin-left: 7px;
        font-size: 16px;
        padding: 16px 5px;
    }

    .header-right a:hover {
        background-color: #006c7d;
        transition: background-color 0.5s;
    }

    a {
        text-decoration: none;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        min-height: 100%;
        height: 100%;

    }
    .btn-blue {
        display: inline-block;
        padding: 1em 2em;
        text-decoration: none;
        color: #67c5ff;
        border: solid 2px #67c5ff;
        border-radius: 3px;
        transition: .4s;
      }

      .btn-blue:hover {
        background: #67c5ff;
        color: white;
      }
.notice{
    background-color: #ff6767;
    color:#fff;
    text-align: center;
}

.top-img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }

  .main-title{
    border-bottom: solid 3px skyblue;
    position: relative;
  }

  .main-title:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #77e469;
    bottom: -3px;
    width: 50%;
  }

.topBn li{
    display:inline-block;
    margin:5px 2px;
}
.topBn li img {
    border:solid 1px #ccc;
}

.flex{
    display: flex;
    flex-wrap: wrap;
  }

.top-image {
    background-image: url("https://cdn.discordapp.com/attachments/662989964111249408/671309866404675603/latest.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    margin-top: 62px;
  }

  footer{
    background-color: #1f1f1f;
    padding: 4vw 12vw;
    text-align: center;
    color:#fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    height: auto;
  }
  footer>a{
    color: #fff !important;
  }

  .top-black {
    position: relative;
    display: inline-block;
    padding: 0 55px;
  }

  .top-black:before, .top-black:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: black;
  }

  .top-black:before {
    left:0;
  }
  .top-black:after {
    right: 0;
  }
/*yuki384さんのサイトからインスパイアされました!*/
  .post-head{
    padding: 30px 11% 50px;
    background-color: #0290a3;
    color: #fff;
    text-align: center;
    h2{
      margin-top: 1em;
    }
  }
  .post-content{
    padding: 30px 11% 50px;
  }

  .a-orange{
    color: #25c3d8
  }

  .a-orange:hover{
    color : #ff7043;
  }

  .team-img{
    width: 80px;
    height: 80px;
  }

  table{
    width: 100%;
    border-collapse: collapse;
  }

  table tr{
    border-bottom: solid 2px white;
  }

  table tr:last-child{
    border-bottom: none;
  }

  table th{
    position: relative;
    text-align: left;
    width: 30%;
    background-color: #52c2d0;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  table th:after{
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top:calc(50% - 10px);
    right:-10px;
    border-left: 10px solid #52c2d0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  table td{
    text-align: left;
    width: 70%;
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
  }

  div.member * {
    display: inline-block;
}

/*404*/
.not-found{
  padding-top:200px;
}