---
---

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Source+Sans+Pro&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,japanese,latin-ext,vietnamese');
body{
    margin:0; padding:0;
    color: black;
    background-color: #fff;
  }

